@import "bootstrap";
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: none;
  width: 500px; 
  height: 150px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #004700;
}

h5 {
  text-align: center;
  color: #004700;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*{font-family:"Georgia";}

#logo {
  float: left;
  margin-right: 10px;
  
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #C2FFD6;
  text-decoration: none;
}

table {
  background-color: #ADEBAD;
  border: 1px black;
}
/*  comment box on comments page*/
#commentHeader {
    background-color: lightgrey;
    padding: 15px;
    border: 5px solid black;
    margin: 25px;
    align: center;
} 

/* images posted in comment box */
img {
  padding: 10px;
  
}

/* edit and destroy buttons for each comment */
.editDestroy {
  float: right;
}